.woocs-head{ line-height: 27px; margin: 0px -1px 0px 0px; padding: 0; background:transparent; text-align:right; box-sizing:none; }
.woocs-head .woocs-head-title{ padding:9px 12px 6px 15px; line-height: 27px; font-size:11px; 1px #eeeeee solid; color:#888888; border-top:1px #eeeeee solid; text-transform:uppercase; }
.woocs1 li{ float:left;list-style:none; }
.woocs2 li{ float:left;list-style:none;/*width:150px!important;*/ }
.woocs3 li{ list-style:none; }
.woocs4 li{ list-style:none; }
.woocs-clear{ clear:both; }
.woocs-hr{ background-color: #eeeeee; border: 0 none; height: 1px; margin:10px 10px 20px 10px; clear:both; }

.woocs1 p{ padding-bottom:1px; margin-bottom:0px }
.woocs1 .woocs_container{ width:130px; height:210px; display:block; padding:10px 0px 10px 0px; margin:1px auto; }
.woocs1 .woocs_container img{ padding:2px; border:#EEEEEE 1px solid; background:#FFFFFF; }
.woocs1 .woocs_container .woocs_title{ font-size:13px; padding:2px; padding-left:4px; line-height:18px; font-weight:normal; border-bottom:#eee solid 1px; }
.woocs1 .woocs_container .woocs_title a{ text-decoration:none; }
.woocs1 .woocs_container .woocs_count{ font-size:12px; padding:2px; padding-left:4px; line-height:16px; font-weight:normal; border-bottom:#eee solid 1px; color:#777777; }
.woocs1 .woocs_container .woocs_price_range{ padding:2px; padding-left:4px; font-size:14px; color:#009966; line-height:20px; font-weight:normal; }

.woocs2 p{ padding-bottom:1px; margin-bottom:0px }
.woocs2 .woocs_col{ margin:0px auto; width:134px; clear:both; display:block; padding-top:10px; }
.woocs2 .woocs_container{ width:130px; height:170px; display:inline-block; padding:2px; margin:0px; }
.woocs2 .woocs_container img{ padding:2px; border:#EEEEEE 1px solid; background:#FFFFFF; }
.woocs2 .woocs_container .woocs_title{ font-size:13px; padding:2px; padding-left:4px; line-height:18px; font-weight:normal; }
.woocs2 .woocs_container .woocs_title a{ text-decoration:none; }

.woocs3 p{ padding-bottom:1px; margin-bottom:0px }
.woocs3 .woocs_wrap{ padding:10px; clear:both; }
.woocs3 .woocs_container1{ width:156px; height:156px; display:inline-block; float:left }
.woocs3 .woocs_container1 img{ padding:2px; border:#EEEEEE 1px solid; background:#FFFFFF; }
.woocs3 .woocs_container2{ display:table; margin-left: 10px; margin-left:170px; }
.woocs3 .woocs_container2 .woocs_title h3{ margin:2px 5px 7px 2px; padding:0px; font-size:20px; font-weight:normal; line-height:20px; display:block; border:none; }
.woocs3 .woocs_container2 .woocs_title a{ margin:0px; padding:0px; font-size:20px; font-weight:normal; line-height:20px; text-decoration:none }
.woocs3 .woocs_container2 .woocs_desc{ font-size:13px; line-height:18px; text-align:justify;}
.woocs3 .woocs_container2 .woocs_info{ font-size:14px; padding:1px; line-height:16px; margin-bottom:5px; color:#999999; }
.woocs3 .woocs_container2 .woocs_viewall { margin-top:10px; padding:1px; text-align:left;}
.woocs3 .woocs_container2 .woocs_viewall .woocs_button{ margin:0px; font-weight:normal; border: 1px solid #c7c0c7; box-shadow: none; border-radius: 0px; overflow: visible;  padding: 6px 10px; text-decoration: none; white-space: nowrap; font-size:13px; width:auto!important; }
.woocs3 .woocs_container2 .woocs_price_range{ font-size:14px; color:#009966; font-weight:normal; }
.woocs3 .woocs_container2 .woocs_count{ font-size:14px; font-weight:normal; color:#990066; }

.woocs4 p{ padding-bottom:1px; margin-bottom:0px }
.woocs4 .woocs_wrap{ padding:10px; clear:both; }
.woocs4 .woocs_container1{ width:156px; height:156px; display:inline-block; float:left }
.woocs4 .woocs_container1 img{ padding:2px; border:#EEEEEE 1px solid; background:#FFFFFF; }
.woocs4 .woocs_container2{ display:table; margin-left: 10px; margin-left:170px; }
.woocs4 .woocs_container2 .woocs_title h3{ margin:2px 5px 7px 2px; padding:0px; font-size:20px; font-weight:normal; line-height:20px; display:block; border:none; }
.woocs4 .woocs_container2 .woocs_title a{ margin:0px; padding:0px; font-size:20px; font-weight:normal; line-height:20px; text-decoration:none }
.woocs4 .woocs_container2 .woocs_desc{ font-size:13px; line-height:18px; text-align:justify;}
.woocs4 .woocs_container2 .woocs_info{ font-size:14px; padding:1px; line-height:16px; margin-bottom:5px; color:#999999; }
.woocs4 .woocs_container2 .woocs_viewall { margin-top:10px; padding:1px; text-align:left;}
.woocs4 .woocs_container2 .woocs_viewall .woocs_button{ margin:0px; font-weight:normal; border: 1px solid #c7c0c7; box-shadow: none; border-radius: 0px; overflow: visible;  padding: 6px 10px; text-decoration: none; white-space: nowrap; font-size:13px;  width:auto!important;}
.woocs4 .woocs_container2 .woocs_price_range{ font-size:14px; color:#009966; font-weight:normal; }
.woocs4 .woocs_container2 .woocs_count{ font-size:14px; font-weight:normal; color:#990066; }
.woocs4 .woocs_featured{ margin-top:20px; }
.woocs4 .woocs_featured a { margin-right:10px;}
.woocs4 .woocs_featured .woocs_featured_title{ font-size:11px; font-weight:normal; color:#888888; line-height:16px; border-bottom:#eeeeee 1px dotted; padding:0px 1px 7px 1px; text-align:right; margin-bottom:10px; text-transform:uppercase; }
.woocs4 .woocs_featured .woocs_featured_img{ padding:2px; border:#EEEEEE 1px solid; background:#FFFFFF; display:inline; }
.woocs4 .woocs_featured .woocs_featured_col{ width:115px; margin:1px 3px; display:inline-block; float:left; }
.woocs4 .woocs_featured .woocs_featured_product_title{ font-size:12px; text-align:center; line-height:14px; padding-bottom:5px; padding-top:3px; min-height:34px; }
.woocs5 .woocs_featured .woocs_featured_product_title a{ font-size:12px; text-align:center; line-height:14px; padding-bottom:5px; }

.woocs5 p{ padding-bottom:1px; margin-bottom:0px }
.woocs5 .woocs_wrap{ padding:10px; clear:both; }
.woocs5 .woocs_container2{ display:block; margin: 0px; }
.woocs5 .woocs_container2 .woocs_title h3{ margin:2px 5px 7px 2px; padding:0px; font-size:20px; font-weight:normal; line-height:20px; display:block; border:none; }
.woocs5 .woocs_container2 .woocs_title a{ margin:0px; padding:0px; font-size:20px; font-weight:normal; line-height:20px; text-decoration:none }
.woocs5 .woocs_container2 .woocs_desc{ font-size:13px; line-height:18px; text-align:justify;}
.woocs5 .woocs_container2 .woocs_info{ font-size:14px; padding:1px; line-height:16px; margin-bottom:5px; color:#999999; }
.woocs5 .woocs_container2 .woocs_viewall { margin-top:10px; padding:1px; text-align:left;}
.woocs5 .woocs_container2 .woocs_viewall .woocs_button{ margin:0px; font-weight:normal; border: 1px solid #c7c0c7; box-shadow: none; border-radius: 0px; overflow: visible;  padding: 6px 10px; text-decoration: none; white-space: nowrap; font-size:13px;  width:auto!important; }
.woocs5 .woocs_container2 .woocs_price_range{ font-size:14px; color:#009966; font-weight:normal; }
.woocs5 .woocs_container2 .woocs_count{ font-size:14px; font-weight:normal; color:#990066; }
.woocs5 .woocs_featured{ margin-top:2px; padding-bottom:10px; }
.woocs5 .woocs_featured .woocs_featured_title{ font-size:11px; font-weight:normal; color:#888888; line-height:16px; border-bottom:#eeeeee 1px dotted; padding:0px 1px 7px 1px; text-align:right; margin-bottom:10px; text-transform:uppercase;  width:auto!important; }
.woocs5 .woocs_featured .woocs_glance_wrap{ display:table; width:auto; margin:0px;}
.woocs5 .woocs_featured .woocs_glance_item{ width: 100px; float: left; display: inline-block; text-align:center; margin-right:10px; }
.woocs5 .woocs_featured .woocs_glance_item .woocs_glance_name{ text-align:center; font-size:14px; font-weight:bold; color:#666666; padding-bottom:7px; }
.woocs5 .woocs_featured .woocs_glance_item .woocs_featured_img{ padding:2px; border:#EEEEEE 1px solid; background:#FFFFFF; display:inline; }
.woocs5 .woocs_featured .woocs_glance_item .woocs_glance_title{ font-size:12px; text-align:center; line-height:14px; padding-bottom:5px; padding-top:3px; min-height:34px; }
.woocs5 .woocs_featured .woocs_glance_item .woocs_glance_title a{ font-size:12px; text-align:center; line-height:14px; padding-bottom:5px; }
.woocs5 .woocs_featured .woocs_glance_item .woocs_glance_price{ font-size:13px; color:#009966; font-weight:normal; }





.woocs_container:not(:last-of-type){
	margin-right:22px;
}



